<form action="/add-lyrics" method="post">
    <label>Name</label>
    <input type="text" name="name">
    <label>Song Name</label>
    <input type="text" name="song">
    <label>Song Link</label>
    <input type="text" name="link">
    <label>Lyrics</label>
    <textarea name="lyrics" id="" cols="30" rows="10">
    </textarea>
    <button type="submit">Submit</button>
</form>