<div class="delete">
<div class="container">
    <a href="/users/deleteAll" class="btn btn-danger d-flex ">Delete</a>
</div>
</div>

<style>
    .delete {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .delete .container {
        margin-left: 85px;
    }
    .btn {
        width: 200px;
    }
</style>