{{#each lyrics}}

<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{this.song}}</h5>
                <h6 class="card-subtitle mb-2 text-muted"> {{this.name}} </h6>
                <a href="{{this.link}}" class="card-link">watch</a>
                <a href="/lyrica/{{this._id}}" class="card-link">here with lyrics</a>
            </div>
        </div>
    </div>
</div>

{{/each}}