

<h1  >{{lyrica.name}}</h1>
<h1>{{lyrica.song}}</h1>
<h1>{{lyrica.lyrics}}</h1>


<iframe id="existing-iframe-example"
          width="640" height="360"
          src="https://www.youtube.com/embed/{{lyrica.link}}?autoplay=1"
          frameborder="0"
          style="border: solid 4px #37474F"
          ></iframe>